@page
@model StatusModel
@{
    ViewData["Title"] = "Status Page";
}

<div class="text-center">
    <h1 class="display-4">BugReport : Status Page </h1>

    Server Id : @Model.id <BR>
    Server is called : @Model.name <BR>
</div>